@charset "UTF-8";
/***************************** Do not write your css at here,  this is outsourcing use, if you want write new css, create a new css file please 請勿修改
******************************/
.text-line { color: #00c300 !important; }

.bg-line { background-color: #00c300; color: #fff; }

hr.hr-line { border-style: dotted; border-color: #00c300; }

.icon-arw-left-4 { background-image: url("../img/ui/icon-arw-left-4.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) { .icon-arw-left-4 { background-image: url("../img/ui/icon-arw-left-4@2x.png"); -moz-background-size: 8px, 14px; -o-background-size: 8px, 14px; -webkit-background-size: 8px, 14px; background-size: 8px, 14px; } }

.icon-arw-right-4 { background-image: url("../img/ui/icon-arw-right-4.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) { .icon-arw-right-4 { background-image: url("../img/ui/icon-arw-right-4@2x.png"); -moz-background-size: 8px, 14px; -o-background-size: 8px, 14px; -webkit-background-size: 8px, 14px; background-size: 8px, 14px; } }

.icon-tag-line { background-image: url("../img/ui/icon-tag-line.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) { .icon-tag-line { background-image: url("../img/ui/icon-tag-line@2x.png"); -moz-background-size: 15px, 24px; -o-background-size: 15px, 24px; -webkit-background-size: 15px, 24px; background-size: 15px, 24px; } }

.text-blue-dark { color: #185390; }

.text-cloud-office { color: #eb3c00; }

.text-cloud-storage { color: #bd123e; }

.text-cloud-monitor { color: #1b90cb; }

.bg-cloud-office { background-color: #eb3c00; }

.bg-cloud-storage { background-color: #bd123e; }

.bg-cloud-monitor { background-color: #1b90cb; }

.hr-short { width: 40px; border-top-width: 3px; }
.hr-short.hr-cloud-office { border-color: #eb3c00; }
.hr-short.hr-cloud-storage { border-color: #bd123e; }
.hr-short.hr-cloud-monitor { border-color: #1b90cb; }

.more { top: -3px; position: relative; display: inline-block; font-size: 1.18rem; }
.more:hover { text-decoration: none; }
.more:hover span { color: #fff100; }

.icon-cart { width: 32px; height: 30px; background-image: url("../img/event-cloud/icon-buy.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) { .icon-cart { background-image: url("../img/event-cloud/icon-buy@2x.png"); -moz-background-size: 32px, 30px; -o-background-size: 32px, 30px; -webkit-background-size: 32px, 30px; background-size: 32px, 30px; } }

.table-cloud { width: 100% !important; max-width: 830px !important; border: 0; }
.table-cloud li { padding-left: .6rem; list-style: none; background: url("../img/event-cloud/dot.png") no-repeat left 6px; }
.table-cloud thead th { border-top: 0; border-left: 0; border-bottom-width: 1px; border-color: #fff; }
.table-cloud thead th:last-child { border-right: 0; }
.table-cloud .v-top { vertical-align: top !important; }
.table-cloud tr.border-cloud-office td { border-bottom: 2px solid #eb3c00; }
.table-cloud tr.border-cloud-storage td { border-bottom: 2px solid #bd123e; }
.table-cloud tr.border-cloud-monitor td { border-bottom: 2px solid #1b90cb; }
.table-cloud tr td:first-child { border-left: 1px solid #aaa !important; }
.table-cloud tr td:last-child { border-right: 1px solid #aaa !important; }
.table-cloud tr:last-child td { border-bottom: 1px solid #aaa !important; }

.table-cloud-storage td { padding-left: .25rem; padding-right: .25rem; }

.badge.bg-cloud-storage:after { display: none; }

.nav-cloud a { margin: 0 .5rem; text-decoration: none; }
